@use "../Variables/palette" as palette;
@use "../Variables/sizes" as sizes;

.about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .about-title-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    color: palette.$charcoal;
    width: 90%;
    font-size: sizes.$title-section-font-size;
    margin-left: sizes.$title-section-margin-left;
  }

  .about-title {
    text-align: center;
    margin: 0;
    margin-left: 5px;
  }

  .about-bio-section {
    width: 90%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    border: 1px solid transparent;
    border-radius: sizes.$skills-list-border-radius;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    color: palette.$grullo;
    margin-bottom: 10px;
    transition: 0.5s;

    .about-bio {
      padding: 2px;
    }
  }

  .about-bio-section:hover {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid palette.$melon;
    color: rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    transform: scale(1.1);
  }
}
