@use "../Variables/palette" as palette;
@use "../Variables/sizes" as sizes;

.hero-resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1em;

  .download-button {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 3px;
    width: 50%;
    font-size: 1.5em;
    border-radius: 1em;
    cursor: pointer;
    margin-bottom: 3px;
    color: palette.$charcoal;
    transition: 0.5s;
  }

  .download-button:hover {
    transition: 0.5s;
    transform: scale(1.3);
  }

  .resume-download {
    color: palette.$charcoal;
  }
}
