@use "../Variables/palette" as palette;
@use "../Variables/sizes" as sizes;

.heroButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .buttonItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    width: 100%;

    .download-button {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      padding: 3px;
      width: 50%;
      font-size: 1.5em;
      border-radius: 1em;
      cursor: pointer;
      margin-bottom: 3px;
      color: palette.$charcoal;
      transition: 0.5s;
    }

    .passive-button {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      padding: 3px;
      width: 50%;
      font-size: 1.5em;
      border-radius: 1em;
      margin-bottom: 3px;
      color: palette.$charcoal;
      transition: 0.5s;
    }

    .download-button:hover {
      transition: 0.5s;
      transform: scale(1.3);
    }

    .button-description {
      color: palette.$charcoal;
      cursor: default;
    }
  }
}
