@use "../Variables/palette" as palette;
@use "../Variables/sizes" as sizes;

.projects {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .projects-title-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    color: palette.$charcoal;
    width: 90%;
    font-size: sizes.$title-section-font-size;
    margin-left: sizes.$title-section-margin-left;

    .projects-title {
      text-align: center;
      margin: 0;
      margin-left: 5px;
    }
  }

  .projects-list {
    width: 90%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    transition: 0.5s;

    .projects-item {
      width: 115px;
      height: 115px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 2px;
      margin-top: 3px;
      margin-bottom: 3px;
      border-radius: 7.5px;
      border: 1px solid transparent;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: rgba(0, 0, 0, 0.2);
      transition: 0.5s;
      cursor: pointer;
    }
  }

  .projects-list:hover {
    border: 1px solid palette.$melon;
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    transform: scale(1.1);

    .projects-item:hover {
      transition: 0.5s;
      transform: scale(0.9);
      border: 1px solid palette.$melon;
    }
  }
}
