.body {
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 1em;

  .body-images {
    display: flex;
    justify-content: center;
    align-items: center;

    .body-pic {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      opacity: 75%;
      padding: 1px;
      box-shadow: 5px 4px 9px rgba(0, 0, 0, 0.71);
    }

    .body-pic:hover {
      opacity: 100%;
      padding: 0px;
      border: 1px solid rgb(255, 255, 255, 0.4);
    }
  }

  .about-me {
    height: 30%;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Fira Code", "monospace";
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    text-shadow: 5px 4px 9px rgba(0, 0, 0, 0.71);
    color: #fff;
  }

  .about-me:hover {
    padding: 2px;
    border: 1px solid rgb(255, 255, 255, 0.4);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
  }
}
