// Imports
@use "../Variables/testingBorders" as testBorders;
@use "../Variables/palette" as palette;

@media only screen and (max-width: 767px) {
  .Header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 9.75vh;
    background-color: rgba(0, 0, 0, 0.65);
    box-shadow: 0px 10px 15px 10px rgba(51, 78, 88, 0.81);

    .navbar {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;

      .logoSection {
        width: 50%;
        padding-left: 0.5rem;

        .logo {
          width: 60px;
          padding-top: 0.25rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .navbar-toggler {
    margin-right: 0.5rem;
    border: none;

    .navbar-icon {
      color: palette.$melon;
      font-size: 2rem;
    }
  }

  .navbar-toggler:active {
    border: none;

    .navbar-icon {
      color: palette.$dim-gray;
      font-size: 2rem;
    }
  }

  .navbar-toggler:focus {
    border: none;

    .navbar-icon {
      color: palette.$dim-gray;
      font-size: 2rem;
    }
  }
  .collapse {
    transition: 0.5s;
    z-index: 1;
    top: 0;

    .navbar-nav {
      background-color: palette.$dim-gray;
      transition: 0.25s;
      padding-left: 1.5rem;

      .nav-item {
        .nav-link {
          color: palette.$grullo;
          font-weight: 300;
        }

        .nav-link:hover {
          color: palette.$melon;
          font-weight: 300;
          transition: 0.25s;
        }
      }
    }
  }
}
