/* Coolors Exported Palette - https://coolors.co/6b6d76-a69888-fcbfb7-334e58-33261d */

/* SCSS RGB */
$dim-gray: rgba(107, 109, 118, 1);
$grullo: rgba(166, 152, 136, 1);
$melon: rgba(252, 191, 183, 1);
$charcoal: rgba(51, 78, 88, 1);
$bistre: rgba(51, 38, 29, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #6b6d76ff,
  #a69888ff,
  #fcbfb7ff,
  #334e58ff,
  #33261dff
);
$gradient-right: linear-gradient(
  90deg,
  #6b6d76ff,
  #a69888ff,
  #fcbfb7ff,
  #334e58ff,
  #33261dff
);
$gradient-bottom: linear-gradient(
  180deg,
  #6b6d76ff,
  #a69888ff,
  #fcbfb7ff,
  #334e58ff,
  #33261dff
);
$gradient-left: linear-gradient(
  270deg,
  #6b6d76ff,
  #a69888ff,
  #fcbfb7ff,
  #334e58ff,
  #33261dff
);
$gradient-top-right: linear-gradient(
  45deg,
  #6b6d76ff,
  #a69888ff,
  #fcbfb7ff,
  #334e58ff,
  #33261dff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #6b6d76ff,
  #a69888ff,
  #fcbfb7ff,
  #334e58ff,
  #33261dff
);
$gradient-top-left: linear-gradient(
  225deg,
  #6b6d76ff,
  #a69888ff,
  #fcbfb7ff,
  #334e58ff,
  #33261dff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #6b6d76ff,
  #a69888ff,
  #fcbfb7ff,
  #334e58ff,
  #33261dff
);
$gradient-radial: radial-gradient(
  #6b6d76ff,
  #a69888ff,
  #fcbfb7ff,
  #334e58ff,
  #33261dff
);
