// Imports
@use "./Variables/testingBorders" as testBorders;
@use "./Variables/palette" as palette;

.Header {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 25%;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: auto;
  box-shadow: 0px 10px 15px 0px rgb(166 152 136);

  .logo {
    padding-left: 0.5rem;
    color: palette.$grullo;
    font-family: "Dancing Script", cursive;
    font-weight: 600;
    font-size: 1.5em;
  }

  .dropMenu {
    display: flex;
    justify-content: center;
    align-items: center;

    .dropButton {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.35rem;
      border: none;
      margin-right: 0.5rem;
      border-radius: 0.25rem;
      background-color: palette.$grullo;
    }
  }
}
