@use "./Variables/palette" as palette;

.mainContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .heroSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;

    .heroPFP {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 160px;
      height: 160px;
      border-radius: 50%;
      background: palette.$gradient-top-right;

      .heroPicture {
        border-radius: 50%;
        opacity: 90%;
      }
    }
  }
}
